<div class="jumbotron">
  <h1 class="display-4">Student Detail Homepage</h1>
  <p class="lead">Select the page you want to visit.</p>
  <hr class="my-4">
  <p>For Managing students Detail and current weather report.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/web/students" role="button">Students Detail</a>
    <a class="btn btn-primary btn-lg" href="/weather" role="button">Weather</a>
  </p>
</div>